<!--globe/wrench-->

<html>
<!DOCTYPE html>
<html lang='en'>
<head>
	<title>About Net-Wars</title>
	<link href='css/bootstrap.css' rel='stylesheet'>
	<link href='css/custom.css' rel='stylesheet'>
	<link rel="shortcut icon" href="img/fav.png" type="image/png"/>
	<link rel="stylesheet" href="font-awesome/css/font-awesome.min.css" type="text/css">
</head>

<body>

<nav class='navbar navbar-default navbar-fixed-top'> 
<div class='container'>
	<img src="img/Capture.png" width='90' height='60'/>
	<span href='/' class='lead'> <strong> Net-Wars Round - I</strong> </span>

	<ul class='nav navbar-nav navbar-right'> <!-- nav-pills/nav-tabs/ navbar-nav navbar-right-->
	<li><a href='about.html'><strong>About Us</strong></a></li>
		<li><a href='rules.html'><strong>Rules</strong></a></li>
	</ul>
	
 </div>
</nav>
<br><br> <br><br>


	<div class='container'>
	<div class='row well well-lg features'>
	
	<div class='col-md-4'>
	<i class='glyphicon glyphicon-globe' style="font-size:32px"></i>
	<h3> Network Choice Questions:</h3> 
	<br>
		<ul class='list-unstyled'>
		<li>1: NCQ's are multiple choice questions based on networking</li><br>
		<li>2: Number of contestants- 1 or 2</li><br>
		<li>3: Total time allotted: 30 minutes </li><br>
		<li>5: Use of cell phones and internet access is prohibited </li>
	</ul>	
	</div>

	<div class='col-md-4'>
	<i class='glyphicon glyphicon-qrcode' style="font-size:32px"></i>
	<h3> Net Hunt:</h3> 
	<br>
		<ul class='list-unstyled'>
		<li>1: This is the Network based treasure hunt (The solution of problem is an problem of next level)</li><br>
		<li>2: Round: based on levels</li><br>
		<li>3: Total time allotted: 45 mins + Bonus time of 1st round </li><br>
	</ul>	
	</div>
	
	<div class='col-md-4'>
	<i class='glyphicon glyphicon-wrench' style="font-size:32px"></i>
	<h3> 	Net Designer:</h3> 
<br>
		<ul class='list-unstyled'>
		<li>1: This round based on cisco network tracer S/w</li><br>
		<li>2: You have to create a working network using the s/w and prepare a brief report on the same</li><br>
		<li>3: Total time allotted: : 1 hr + Bonus time of 1st round </li><br>
	</ul>	
	</div>
	</div>
	</div>
	
</div>


<footer>
	<div class="nav navbar navbar-static-bottom" style="background-color:#f5f5f5;padding:6px;border-radius: 4px;margin-top:71px">
	<p></p>
        <div class="container" >
            <div class="row">
               <div class="col-lg-4">
			   <img src="img/inc.png" width='35' height='35' style="margin-left:120px"/>
    
                    <p class="copyright text-muted ">Copyright &copy; INC-Impetus and concept's '16 .</p>
                </div>
	
				<div class="col-lg-4  text-center">
                    
                </div>
				
				<div class="col-lg-4 text-center float:right">
                    <i class="fa fa-envelope-o fa-2x wow bounceIn" data-wow-delay=".1s"></i>
                   <p>incnetwars@gmail.com</p>
                </div>
				</div>
            
        </div>
    </footer


<script src="js/jquery.min.js"></script>
<script src="js/bootstrap.min.js"></script>
</body>
</html>