<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>NCQs Round - I</title>
	<link rel="shortcut icon" href="img/fav.png" type="image/png"/>
    <!-- Bootstrap -->
    <link href="css/bootstrap.css" rel="stylesheet">
	 <link rel="stylesheet" href="font-awesome/css/font-awesome.min.css" type="text/css">	
	  <link rel="stylesheet" href="css/custom.css" type="text/css">	
        <script type='text/javascript' src = "{% static 'ncqs/js/jquery-2.2.0.min.js' %}"></script>
    <script type='text/javascript' src = "{% static 'ncqs/js/jquery.plugin.js' %}"></script>
    <script type='text/javascript' src = "{% static 'ncqs/js/jquery.countdown.js' %}"></script>
    <script type ='text/javascript'>
    $(document).ready(function(){
        var questions = null;
        var answers = {};
        var current = 0;
        $.getJSON( "/ncqs/fetch-questions/", function( data ) {
            questions = data["data"];
            console.log(questions);
            setupQuestion(0);
        });
        var setupQuestion = function(index){
            // console.log("printing questions inside setupQuestion"+questions);
            // console.log(questions);
            // console.log(index);
            questionString = questions[index]['question'];
            $('#question_statement').html(questionString);
            $('#question_no').html(""+(index+1));
            choiceArray = questions[index]['choices'];
            divChoices = $('#div_choices').children();
            for(i=0; i<4; i++)
            {
                divChoices.eq(i*2).val(choiceArray[i]);
                divChoices.eq(i*2).prop('checked', false);
                divChoices.eq(i*2+1).html(choiceArray[i]);
            }
            if(index.toString() in answers)
            {
                $('.choice_class[value='+answers[index.toString()]+']').prop("checked", true);                
            }
        }
        $('.choice_class').on("change", function(){
            // add an ajax post to save this answer
            // can be over written
            radio_button = $(this);
            answer = $(this).val();
            $.post('/ncqs/answer/', {"question_no":current, "answer":answer}, function(data){
                try{
                        console.log(data+" was received");
                        json = $.parseJSON(data);
                        if(json['success'])
                        {
                            answers[current.toString()] = answer;
                            console.log("saved!");
                            console.log(answers);
                        }
                        else
                        {
                            //deselect this checkbox
                            $(this).prop("checked", false);
                            alert("error: server returned failure");
                        }
                }catch(ee)
                {
                    $(this).prop("checked", false);
                    alert("exception:"+ee+'\nfor data: '+data);
                }
            }).fail(function(xhrObject, status, exc){
                radio_button.prop("checked", false);
                alert("error: could not save to server");
                console.log(status+";"+exc);
                console.log(xhrObject);  
            });
            console.log($(this).val());
        });

        
        $('#button_first').on("click", function(){
            current = 0;
            setupQuestion(current);
        });
        $('#button_previous').on("click", function(){
            if(current!=0)
            {   
                current = current - 1;
                setupQuestion(current);
            }
        });
        $('#button_next').on("click", function(){
            total_questions =questions.length; 
            if(current!=total_questions-1)
            {
                current = current + 1;
                setupQuestion(current);
                
            }
        });
        $('#button_last').on("click", function(){
            total_questions =questions.length; 
            current = total_questions-1;
            setupQuestion(current);
        });
        $('#button_end').on("click", function(){
            //ask for confirmation first
            len = answers.length;
            allAnswered = true;
            for(i = 0; i<len; i++)
            {
                if(i.toString() in answers)
                    continue;
                else
                {
                    allAnswered = false;
                    break;
                }
            }
            if(!allAnswered)
            {
                // show a confirmation message or append this text
                // to the above confirmation message
            }
            $.getJSON('/ncqs/end', answers, function(data){
                window.location.replace(data['next']);
            });
        });
        var getTime = function(){
            $.getJSON('http://127.0.0.1:7379/TTL/ncqs:murtraja', function(data){
                //json = JSON.parse(data);
                $('#time_left').html(data['TTL']);
            });
        }
        setInterval(getTime, 500);

    });
    </script>
  </head>

  <body >
 
  <nav class="navbar navbar-default navbar-fixed-top">
    <div class='container'>
	<img src="img/Capture.png" width='90' height='60'/>
	<span href='/' class='lead'> <strong> Net-Wars Round - I</strong> </span>

	<ul class='nav navbar-nav navbar-right'> <!-- nav-pills/nav-tabs/ navbar-nav navbar-right-->
	<li><a href='about.html'><strong>About Us</strong></a></li>
		<li><a href='rules.html'><strong>Rules</strong></a></li>
	</ul>
    </div>
    </nav>
		
		
	
	    <div class="vertical-center" >
		<div class=" container well  col-lg-10" >
		<div style="text-align:left">
	     
		 <p id='time_left'></p>
		<div id = 'div_questionset'>
        <p class = "question" id = "question_no"></p>
        <p class = "question" id = 'question_statement'></p>
		
        <div id='div_choices'>
            <input id ='choice_1' type='radio' class = 'choice_class' name = "choices"/><label for='choice_1'>1</label>
            <input id ='choice_2' type='radio' class = 'choice_class' name = "choices"/><label for='choice_2'>2</label>
            <input id ='choice_3' type='radio' class = 'choice_class' name = "choices"/><label for='choice_3'>3</label>
            <input id ='choice_4' type='radio' class = 'choice_class' name = "choices"/><label for='choice_4'>4</label>
        </div>
       </div>
 
		
		<div id ='div_controlset'>
		<center>
		<button type='button' id='button_first' value="<<" style="width:120px; height:42px" class="btn btn-lg btn-primary"> 
		<span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span><span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
		</button>
		<button type='button' id='button_previous' value="<" style="width:150px; height:42px" class="btn btn-lg btn-primary"> 
		<span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>Previous
		</button>
		<button type='button' id='button_next' value=">" style="width:150px; height:42px" class="btn btn-lg btn-primary"> 
		Next<span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
		</button>
		<button type='button' id='button_last' value=">>" style="width:120px; height:42px" class="btn btn-lg btn-primary"> 
		<span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span><span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
		</button>
		</center><br>
		<button type='button' id='button_last' value=">>" style="width:150px; height:42px" class="btn btn-lg btn-danger col-lg-offset-10"> End</button>
		</div>
		
	</div>
	</div>
</div>

		
		
<footer>
	<div class="nav navbar navbar-static-bottom" style="background-color:#f5f5f5;padding:6px;border-radius: 4px;margin-top:7px">
	<p></p>
        <div class="container" >
            <div class="row">
               <div class="col-lg-4">
			   <img src="img/inc.png" width='35' height='35' style="margin-left:120px"/>
    
                    <p class="copyright text-muted ">Copyright &copy; INC-Impetus and concept's '16 .</p>
                </div>
	
				<div class="col-lg-4  text-center">
                    
                </div>
	
				<div class="col-lg-4 text-center float:right">
                    <i class="fa fa-envelope-o fa-2x wow bounceIn" data-wow-delay=".1s"></i>
                     <p>incnetwars@gmail.com</p>
                </div>
				</div>
            
        </div>
    </footer>


	<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="js/jquery.min.js">"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="js/bootstrap.min.js"></script>
  </body>
</html>